

.card-img {
margin-top: 3%;
}

.card {
  margin: auto;
}

.link {
  padding: 10px;
  background-color: #5cb5b2;
  width: 25%;
}




.modalwindow{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: black;
opacity: 0;
pointer-events: none;
filter: opacity(0.90);
}


.modalwindow:target {
  opacity: 1;
  pointer-events: auto;
}

.msgblock{
position: relative;
width: 30%;
height: 60%;
background-color: white;
margin: auto;
margin-top: 5%;

}



.heading{
  position: relative;
  width: 70%;
  margin-left: 9%;

}


.imginwindow{
  width: 80%;
  height: 200px;
  margin-left: 10%;
}

.link{
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 0px;
  float: right;
  color: black;


}

.messageimgbox {
width: 100%;
margin-left: 9%;
}

.link2 {
  background-color: gray;
  text-decoration: none;
  color: white;
  padding: 6px;
  margin-left: 85%;

}

.whiteline hr {
  color: white;
}
